* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Tahoma, Arial,  Helvetica, sans-serif;
}
.container {
    margin: 10px;
    width: 380px;
    border: 2px solid black;
    box-sizing: border-box;
}
.txt_L {
    margin: 6px auto 22px;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}
img {
    width: 250px;
    height: 285px;
    margin: 0 auto;
    display: block;
}
a {
     text-decoration: none;
}
.installments {
    margin-top: 3px;
    width: 190px;
    height: 31px;
    display: block;
    background-color: #8bc144;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    box-shadow: -3px 3px 0px #9c9c9c;
}
p {
    margin: 15px auto;
    font-size: 31px;
    text-align: center;
}
.buy {
    margin-left: 74px;
    margin-bottom: 5px;
    width: 228px;
    height: 45px;
    display: block;
    background-color: #ff0000;
    border-bottom: 4px solid #850000;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    text-shadow: -1px 1px 0px #000000;
}